@model List<ShoppingLP3.ViewModels.LojaViewModel>

@{
    ViewData["Title"] = "Lista de lojas";
}

<div class="text-center">
    <h1 class="display-4">Lojas</h1>
</div>

@if(Model.Count == 0)
{
    <p>Nenhuma loja cadastrada</p>
    <a href="#">Faça agora o cadastro de uma loja</a>
} else{
    <p>Quantidade de lojas cadastradas: @Model.Count </p>

    @foreach(var loja in Model)
    {
        <h5>
            <a href="/Loja/@loja.Id"> @loja.Nome</a>
        </h5>
        <p>@loja.Descricao</p>
        <hr>
    }
}